@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #1EAFB3;
  --color-primary-hover: #1a9ca0;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-ibm-plex-serif);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
